<div class="col-xs-12 col-sm-3" id="left-sidebar">
	[%IF [@page_type@] eq 'category' and [@config:show_filters@]%]
		<div class="panel panel-default">
			<ul id="filters" class="panel-collapse collapse list-group">
				
				
				[%PRODUCT_FILTER type:'variations' autohide:'0' sortoption:'sortorder'%]
					[%PARAM *header%]
						<div class="filter-wrap"><li class="list-group-item"><h4><a href="#" class="filter-toggle">[@filter_name@]</a></h4></li>
							[%IF [@filter_name@] eq 'Type'%]
							<div class="type-wrapper">
								[%/IF%]

					[%/PARAM%]
					[%PARAM *body%]
						[%DATA id:'selected' if:'==' value:'1'%]
							[%PARAM *if_true%]
								<li class="filter-remove filter"><a href="[@remove_single_url@]" class="list-group-item" rel="nofollow">
									[@name@] <span class="text-muted"></span></a>
								</li>
							[%/PARAM%]
							[%PARAM *if_false%]
								<li class="filter">
									<a class="list-group-item" href="[@url@]"> [@name@] <span class="text-muted"></span></a>
								</li>
							[%/PARAM%]
						[%/DATA%]
					[%/PARAM%]
					[%PARAM *footer%]
					[%IF [@filter_name@] eq 'Type'%]
					</div>
						[%/IF%]
				</div>
					[%/PARAM%]
				[%/PRODUCT_FILTER%]

			</ul>
		</div>
	[%/IF%]

	<!--[%CONFIG id:'phistory_limit' if:'ne' value:'0'%]
		[%PRODUCT_HISTORY limit:'[@config:phistory_limit@]' template:'box'%]
			[%PARAM header%]
				<div class="panel panel-default hidden-xs">
					<div class="panel-heading panel-heading-thumbnails"><h3 class="panel-title">Browsing History</h3></div>
					<ul class="nav list-group">
			[%/PARAM%]
			[%PARAM footer%]
					</ul>
				</div>
			[%/PARAM%]
		[%/PRODUCT_HISTORY%]
	[%/CONFIG%]-->
</div>
<div class="col-xs-12 col-sm-9 cat-body">
