<div class="new-listing" itemscope itemtype="http://schema.org/Product">
	<div class="new-listing-wrap">
		<a href="[@URL@]" class="h-car-link">
				[%if [@misc3@] or [@misc4@]%]
		<div class="savings-container">
			[%if [@misc3@]%]
				<p class="label">New Arrival</p>
			[%/if%]
			[%if [@misc4@]%]
				<p class="label">Best Seller</p>
			[%/if%]
		</div>
	[%/if%]
			[%if [@inpromo@]%]
			<h4 class="promo">Hurry, promotion price ends in <span class="sale-end" data-countdown="[%format type:'date' format:'#Y/#M/#D'%][@promo_end@][%/format%]"></span>!</h4> 
			[%/if%]

			<img src="[%asset_url type:'product' thumb:'thumb' id:'[@SKU@]'%][%param default%][%cdn_asset html:'0' library:'images'%]default_product.gif[%/cdn_asset%][%end param%][%/asset_url%]" class="product-image" alt="[@model@]" rel="itmimg[@SKU@]">

			<h3 itemprop="name">[%format type:'text' truemaxlength:'50' rmhtml:'1'%][@model@][%/FORMAT%]</h3>


<div class="p-price">

				[%if ![@inpromo@]%]
				<div class="" itemprop="price">
					[%FORMAT type:'currency'%][@store_price@][%/FORMAT%]
				</div>
				[%else%]
                <div class="ppromo">
					<span>[%FORMAT type:'currency'%][@promo_price@][%/FORMAT%]</span>
				</div>
				<div class="pwasprice">
					<span>[%FORMAT type:'currency'%][@store_price@][%/FORMAT%]</span>
				</div>


				[%/if%]


				</div>


				[%if [@inpromo@]%]
				<div class="promo-banner">Sale</div>
				[%/if%]
		</a>
	</div>
</div>
