[%crosssell id:'[@SKU@]' limit:'4' show_all:'1'%]
[%param *header%] 

<div class="spy-cross-sell">
	<h4>Optional Extras</h4>
	<div id="multiitemadd">
		<input type="hidden" id="sku[@rndm@][@SKU@]" name="sku[@rndm@][@SKU@]" value="[@SKU@]">
		<input type="hidden" id="model[@rndm@][@SKU@]" name="model[@rndm@][@SKU@]" value="[@model@]">
		<input type="hidden" id="thumb[@rndm@][@SKU@]" name="thumb[@rndm@][@SKU@]" value="[@thumb@]">
		<div class="row product-priceBtn extra-btt-select">
			[%/param%]
			[%param *body%]
			<input type="hidden" id="sku[@rndm@][@SKU@]" name="sku[@rndm@][@SKU@]" value="[@SKU@]">
			<input type="hidden" id="model[@rndm@][@SKU@]" name="model[@rndm@][@SKU@]" value="[@model@]">
			<input type="hidden" id="thumb[@rndm@][@SKU@]" name="thumb[@rndm@][@SKU@]" value="[@thumb@]">
			<input type="hidden" id="qty[@rndm@][@SKU@]" name="qty[@rndm@][@SKU@]" value="0" placeholder="Qty">
			<div class="col-sm-12 nCrossSellItem" style="border-bottom:1px solid #eee;padding-top:10px;padding-bottom:10px">
				<div class="row">
					<div class="col-xs-1"><label class="lcontainer"><input type="checkbox" data-product="[@rndm@][@SKU@]"><span class="checkmark"></span></label></div>
					<div class="col-xs-2">
						<img class="img-responsive" src="[%asset_url type:'product' thumb:'thumb' id:'[@SKU@]'/%]" style="max-width:40px">
					</div>
					<div class="col-xs-6">[@model@]</div>

					<div class="col-xs-3">[%format type:'currency'%][@price@][%/format%]</div>


				</div>
			</div>
			[%/param%]
			[%param *footer%]
		</div>
		<div class="clear clearfix"></div>
			<div class="row mobile-sp-price">
				<div class="col-xs-12 col-md-4 wrapper-qty">
					<div class="num-wrapper">
						<input type="number" min="[@min_qty@]" class="form-control qty input-lg" id="qty[@rndm@][@SKU@]" name="qty"
						 value="[%data id:'min_qty' if:'ne' value:'0' %][@min_qty@][%end data%][%data id:'min_qty' if:'eq' value:'0' %]1[%end data%]"
						 size="2" />
					</div>
				</div>
				<div class="col-xs-12 col-md-4 wrapper-btns">
					[%IF [@store_quantity@] > 0 AND [@preorder@] %]
					<button type="button" title="Add to Cart" class="addtocart btn btn-warning btn-block btn-lg btn-loads"
					 data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>" rel="[@rndm@][@SKU@]">Pre-Order
						Now</button>
					[%ELSEIF [@store_quantity@] > 0 AND ![@preorder@] %]
					<button type="button" title="Add [@model@] to Cart" class="btn btn-lg btn-block btn-success btn-loads addMultipleCartItems"
				 data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>" rel="[@rndm@][@SKU@]">
					<i class="fa fa-shopping-cart" aria-hidden="true"></i> Add To Cart
				</button>
					[%ELSEIF [@store_quantity@] < 1 AND [@config:ALLOW_NOSTOCK_CHECKOUT@] %] <button type="button" title="Add to Cart"
					 class="addtocart btn btn-warning btn-block btn-lg btn-loads" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>"
					 rel="[@rndm@][@SKU@]">Backorder</button>
						[%ELSE%]
						<a class="btn btn-info btn-lg btn-block" data-toggle="modal" data-target="#notifymodal">Notify Me</a>
						[%END IF%]
				</div>
				<div class="col-xs-12 col-md-4 wrapper-code">
					<div style="cursor: pointer; display: inline;" data-zm-info="true" class="zip_tagline" data-zm-widget="popup"
					 data-zm-popup-asset="termsdialog">
						<img class="zip-logo" src="/assets/themes/spy-store-3/img/zip.svg" alt="The Spy Store Call Us">
					</div>
				</div>
			</div>




		
	</div>




</div>
[%/param%]
[%param *ifempty%]
<!-- Insert your existing buying options form code here -->

<div class="extra-options">
	[%multilevelpricing id:'[@SKU@]'%]
	[%PARAM *header%]
	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th colspan="2">
					Buy In Bulk &amp; Save!
				</th>
			</tr>
		</thead>
		<tbody> 
			[%END PARAM%]
			[%PARAM *body%]
			<tr>
				<td width="20%" nowrap="nowrap">
					<span class="productmultilevelqty">Buy [%FORMAT type:'number' dp:'0' sp:','%][@minqty@][%END FORMAT%]
						[%IF [@maxqty@] > 0%]
						to [%FORMAT type:'number' dp:'0' sp:','%][@maxqty@][%END FORMAT%]:
					</span>
				</td>
				[%ELSE%]
				or more:
				</span>
				</td>
				[%END IF%]
				<td nowrap="nowrap">
					<span class="productmultilevelprice"> Pay [%FORMAT type:'currency' dpno_zero:'1'%][@price@][%END FORMAT%]</span>
				</td>
			</tr>
			[%END PARAM%]
			[%PARAM *footer%]
		</tbody>
	</table>
	[%END PARAM%]
	[%END multilevelpricing%]

	<!-- PRODUCT OPTIONS -->
	[%extra_options id:'[@SKU@]'%]
	[%PARAM *header%]
	<table class="table table-striped table-bordered">
		<tr>
			<th colspan="2">
				Available Options
			</th>
		</tr>
		[%END PARAM%][%PARAM *number_option%]
		<tr>
			<td>
				<label>[@name@]</label>
			</td>
			<td>
				<input name="extra[@count@]" class="form-control" id="productextra[@count@]" rel="[@SKU@]" value="">
			</td>
		</tr>
		[%END PARAM%][%PARAM *text_option%]
		<tr>
			<td>
				<label>[@name@]</label>
			</td>
			<td>
				<textarea name="extra[@count@]" [%if [@length@]%]maxlength="[@length@]" [%/if%]class="form-control" id="productextra[@count@]"
				 rel="[@SKU@]" cols="20"></textarea>
			</td>
		</tr>
		[%END PARAM%]
		[%PARAM *select_option%]
		<tr>
			<td>
				<label>[@name@]</label>
			</td>
			<td>
				<select name="extra[@count@]" class="form-control" id="productextra[@count@]" rel="[@SKU@]">
					[@choices@]
				</select>
			</td>
		</tr>
		[%END PARAM%]
		[%PARAM *choices%]
		<option type="text" class="form-control" value="[@option_id@]">[%nohtml%][@text@][%end nohtml%]
			[%DATA id:'price' if:'!=' value:'0'%]
			(+ [%FORMAT type:'currency' dpno_zero:'1'%][@price@][%END FORMAT%])
			[%END DATA%]
		</option>
		[%END PARAM%]
		[%PARAM *footer%]
		<input type="hidden" name="extras" value="[@total_options@]" />
	</table>
	<hr />
	[%END PARAM%]
	[%END extra_options%]

	[%data id:'multiplier_qty' if:'ne' value:'0' %]
	Order In Lots Of <strong>[@multiplier_qty@]</strong>
	[%end data%]
	[%data id:'min_qty' if:'ne' value:'0' %]
	Minimum Order Quantity <strong>[@min_qty@]</strong>
	[%end data%]
	[%data id:'max_qty' if:'ne' value:'0' %]
	Maximum Order Quantity <strong>[@max_qty@]</strong>
	[%end data%]
	<div class="mobile-buy-btt">
		<div class="wrapper-pricing-main">
			[%if ![@inpromo@]%]

			<div class="pricenow">
				[%FORMAT type:'currency' dpno_zero:'1'%][@store_price@][%/FORMAT%]
			</div>

			[%else%]



			<div class="m-p-left">

				<div class="sale-banner">
					on sale
				</div>

				[%if [@save@] > 0%]
				<div class="ret-price">
					was [%FORMAT type:'currency' dpno_zero:'1'%][@store_price@][%/FORMAT%]
				</div>
				[%/if%]

			</div>

			<div class="pricenow sale-color">
				<span>sale price</span>
				[%FORMAT type:'currency' dpno_zero:'1'%][@promo_price@][%/FORMAT%]
			</div>
			<div class="clear clearfix"></div>
			[%/if%]
		</div>

		<form class="buying-options" autocomplete="off" class="wrapper-prod-price col-sm-12">
			<input type="hidden" id="model[@rndm@][@SKU@]" name="model" value="[@model@]">
			<input type="hidden" id="thumb[@rndm@][@SKU@]" name="thumb" value="[@thumb@]">
			<input type="hidden" id="sku[@rndm@][@SKU@]" name="sku" value="[@SKU@]">
			<div class="row btn-stack">
				<div class="col-xs-12 col-sm-12 product-priceBtn">
					<div class="row">
						<div class="col-xs-12 col-md-4 wrapper-qty">
							<div class="num-wrapper">
								<input type="number" min="[@min_qty@]" class="form-control qty input-lg" id="qty[@rndm@][@SKU@]" name="qty"
								 value="[%data id:'min_qty' if:'ne' value:'0' %][@min_qty@][%end data%][%data id:'min_qty' if:'eq' value:'0' %]1[%end data%]"
								 size="2" />
							</div>
						</div>
						<div class="col-xs-12 col-md-4 wrapper-btns">
							[%IF [@store_quantity@] > 0 AND [@preorder@] %]
							<button type="button" title="Add to Cart" class="addtocart btn btn-warning btn-block btn-lg btn-loads"
							 data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>" rel="[@rndm@][@SKU@]">Pre-Order
								Now</button>
							[%ELSEIF [@store_quantity@] > 0 AND ![@preorder@] %]
							<button type="button" title="Add to Cart" class="addtocart btn btn-success btn-block btn-lg btn-loads"
							 data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>" rel="[@rndm@][@SKU@]">Add to
								Cart</button>
							[%ELSEIF [@store_quantity@] < 1 AND [@config:ALLOW_NOSTOCK_CHECKOUT@] %] <button type="button" title="Add to Cart"
							 class="addtocart btn btn-warning btn-block btn-lg btn-loads" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>"
							 rel="[@rndm@][@SKU@]">Backorder</button>
								[%ELSE%]
								<a class="btn btn-info btn-lg btn-block" data-toggle="modal" data-target="#notifymodal">Notify Me</a>
								[%END IF%]
						</div>
						<div class="col-xs-12 col-md-4 wrapper-code">
							<div style="cursor: pointer; display: inline;" data-zm-info="true" class="zip_tagline" data-zm-widget="popup"
							 data-zm-popup-asset="termsdialog">
								<img class="zip-logo" src="/assets/themes/spy-store-3/img/zip.svg" alt="The Spy Store Call Us">
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

<div class="modal fade notifymodal" id="notifymodal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Notify me when back in stock</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label>Your Name</label>
					<input placeholder="Jane Smith" name="from_name" id="from_name" type="text" class="form-control" value="[%NOHTML%][@FROM_NAME@][%END NOHTML%]">
				</div>
				<div class="form-group">
					<label>Your Email Address</label>
					<input placeholder="jane.smith@test.com.au" name="from" id="from" type="email" class="form-control" value="[%NOHTML%][@FROM@][%END NOHTML%]">
				</div>
			</div>
			<div class="modal-footer">
				<input class="btn btn-danger" type="button" data-dismiss="modal" value="Cancel">
				<input class="btn btn-success" type="button" data-dismiss="modal" value="Save My Details" onClick="javascript:$.addNotifyBackInStock('[@SKU@]', '');">
			</div>
		</div><!-- /.modal-content -->
	</div>
</div>








[%/param%]
[%/crosssell%]